.header{
    text-align: center;
}

.table{
    width:50%;
    text-align: center;
    align-self: center;
}

.left {
    text-align: left;
    width:50%;
}

.right {
    text-align: right;
    width:50%;
}