* {
	font-family: "Gotham SSm 4r", "Gotham SSm A", "Gotham SSm B", helvetica, arial, sans-serif;
	font-style: normal;
	font-weight: 400; 
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border-collapse: collapse;
}

/*
#IS_BB_HEADER_MENU {
	margin-left: 10%;
}
*/

#IS_BB_HEADER_MENU .megaMenu {
	border-bottom: 1px solid #EBF0F0;
	font-size:12px;
}

#IS_BB_HEADER_MENU .megaMenu .megaMenuItem {
	background-color:#EBF0F0;
	color:#3D4D5D;
	height:38px;
line-height:20px;

}

#IS_BB_HEADER_MENU .megaMenu .megaMenuSelected {


	color:#220337;

	background-color:#ffffff;
	border-top:2px solid #15A885;
	border-right:1px solid #EBF0F0;
	border-left:1px solid #EBF0F0;
	height:40px;
}

#IS_BB_HEADER_MENU .megaMenuItem a {
	color: #3D4D5D;
	font-family: "Gotham SSm 4r", "Gotham SSm A", "Gotham SSm B", helvetica, arial, sans-serif;
	font-style: normal;
	font-weight: 400;
}

#IS_BB_HEADER_MENU .megaMenu .megaMenuItem.megaMenuSelected a{


	color:#220337;

}

#IS_BB_HEADER_MENU #SUBMENU_ID_NYU_OTHER_RESOURCES_FLDR #NYU_OTHER_RESOURCES_FLDR {
	display:none;
}

#IS_BB_HEADER_MENU #SUBMENU_ID_NYU_TRANSCRIPTS_FLDR #NYU_TRANSCRIPTS_FLDR {
	display:none;
}

.megaMenu {
    width:960px; 
	margin: 0;
	min-height: 40px;
}

.megaMenu ul{width:850px;margin-bottom: 0;}

.megaMenu ul{list-style:none;}
.megaMenu li{
    display:inline-block;
	
	cursor: pointer;
    
    text-transform: uppercase;
	text-decoration: none;
    color: #005a8b;
    
}

.megaMenu li:hover{
    background-color:#ffffff;
    color: #2c3e50;
}

.megaMenu li a {
	padding: 10px 10px;
	display: block;
	text-decoration: none;
}

.megaMenu .megaMenuSelected{background-color:#ffffff;}


.megaSubMenuListItem,
.megaSubMenu {
	display: none !important;
	margin: 0 auto;
    position: relative;
    clear: both;
    width:auto;
    background-color:#ffffff;
	padding: 20px;
	overflow: hidden;
}
.megaSubMenuListItem.open,
.megaSubMenu.open {
	display: block !important;
}

.megaSubMenuListItem span,
.megaSubMenu span {
    
	color: #005a8b;
}

.megaSubMenuListItem li,
.megaSubMenu li {
    display: inline-block;
	cursor: pointer;
    width: 23.5%;
	padding: 5px;
	text-decoration: none;
    color: #005a8b;
    
}


.megaSubMenuListItem li:hover,
.megaSubMenu li:hover{
    background-color:#e4e4e4;
    color: #2c3e50;
}

.headerNav  {
    float:right;
    width:660px;
    height:80px;
}

.headerNav ul{list-style: none; clear:both;}
.headerNav li { 
    float:left;
    padding:10px 0px 10px 20px;
	text-transform: uppercase;
}

.headerNav h5 {
	color: #005a8b;
	font-weight: 700 ;
	display:inline-block;
}

.headerNav {
    height: 60px;
	padding: 10px 0px;
}

.headerNav h5, .headerNav a{
    color: #FFFFFF;
    font-weight: normal;
}

.headerNav .headerNavUL .IS_BB_RSPV_HEADER_LINK {
    border: 1px solid #FFFFFF;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 2px;
    padding-left: 15px;
    margin-left: 10px;
    padding-right: 15px;
}

ul.headerNavUL {
	width: auto;float:right;
}

h1, h2, h3, h4, h5, h6{font-family:'Quicksand', helvetica, arial, sans-serif !important;}
h1{color:#2c3e50; font-size:24px; font-weight:700; line-height: 24px;}
h2{color:#ffffff; font-size:20px; font-weight:700;}
h3{color:#2c3e50; font-size:16px; font-weight:700;} 
h4{color:#ffffff; font-size:16px; font-weight:700; padding:0px 20px;}
h5{color:#2c3e50; font-size:14px; font-weight:700; margin:0px}
.contentTabSelected h5{color:#ffffff;}
.contentTabs li:hover h5, .contentTabs li:hover h5 a, .contentTabs li:hover a {color:#ffffff !important;}
table h5{color:#ffffff;}
h6{color:#ffffff; font-size:12px; font-weight:300;}

#Header_Container {    
	position: relative;
	display: block;
	clear: both;
	
	
	
	width: 960px;
	margin: 0 auto;
}

.bb_header {
	position: relative;
	height: 80px;
	display: block;
	clear: both;
	
	
	
	width:100%;
}

.bb_header {
    height: 60px;
}

.logo {
    width:300px;
    height:60px;
    line-height:80px;
    float:left;
    background-image: url(/cs/ihprod/cache/856/NYU_SHORT_WHITE_PNG_1.png);
    background-position: left;
    background-repeat: no-repeat;
	background-size: 30%;
}

#IS_BB_HEADER {
	background-color:#57068c;
	color:#FFFFFF;
}

#EASY_NYU_LOGO {
	height:90px;
	padding-top:10px;
}

#EASY_NYU_LOGO a, #EASY_NYU_LOGO a:hover  {
	font-size:50px;
    font-family: "Gotham SSm 7r", "Gotham SSm A", "Gotham SSm B", helvetica, arial, sans-serif !important;
    font-style: normal;
    font-weight: 700; 
	text-decoration: none;
	color: #3D4D5D;
}

#EASY_NYU_LOGO h1 {
	line-height:normal;
}

.logo {
    width:300px;
    height:60px;
    line-height:80px;
    float:left;
    background-image: url(/logo.png);
    background-position: left;
    background-repeat: no-repeat;
	background-size: 70%;
}

.row,
.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.row {
    margin: 0 auto !important;
	display: block !important;
	
}

#NYU_DEFAULT_HEADER::before,
#NYU_TARGET_HEADER::before  {
    content: "";
    Width: 100%;
    height: 60px;
    background-color: #57068c;
    position: absolute;
}
