.modal {
    font-size: 30px;
  }
  .modal > .header {
    width: 100%;
    color: purple;
    border-bottom: 1px solid gray;
    font-size: 30px;
    padding: 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
  }
  .ilabel {
    display: block;
    font-size: 22px;
    padding: 10px 5px;
    margin: auto;
  }
  input {
      width: 80%;
      height: 40px;
      margin: 0 auto;
      display: block;
  }
  .login-btn {
      display: block;
      background-color: #C70039 ;
      color: white;
      font-size: 25px;
      width: 400px;
      height: 50px;
      text-align: center;
      margin: 0 auto;
      display: block;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }