.search-by {
    margin-top: 4%;
    margin-left: 40%;
}

.major-search .MuiAutocomplete-root {
    width: 100%;
    color : white !important;
}

.major-search-div {
    margin-left: 40%;
}

.major-search-btn {
    margin-top: 3%;
    margin-left: 11.5%; 
}