.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

		* {
            margin: 0;
            padding: 0;
            /* background-color: #FFFFFF; */
			-moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

		body {
            font-family: Helvetica, sans-serif !important;
            color: #3D4D5D;
            font-size: 14px;
            font-weight: normal;
            margin: 0 !important;
            -webkit-text-size-adjust: none;
            min-width: 480px;
        }

		.pageTitle {
			font-size:50px;
			font-weight: bold;
			margin-left:10%;
			margin-right:20%;
			margin-top:35px;
		}

		.textBoxContainer {
            display: inline-block;
			background-color: #F6F6F6;
            text-align: center;
            min-width: 480px;
            max-width: 500px;
            vertical-align: top;
            padding: 10px;
            margin-bottom: 25px;
			margin-top: 25px;
        }

        .textBox {
            padding: 20px;
            text-align: left;
            vertical-align: middle;
            display: inline-block;
        }

		.buttonLink {
			width:300px;
			display:block;
			background: #FFFFFF;
			background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
			background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
			background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
			background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
			background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0px;
			color: #008769;
			font-size: 23px;
			padding: 10px 20px 10px 20px;
			border: solid #008769 1px;
			text-decoration: none;
		}

		.buttonLink:hover {
			width:300px;
			display:block;
			background: #FFFFFF;
			background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
			background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
			background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
			background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
			background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0px;
			color: #15A885;
			font-size: 23px;
			padding: 10px 20px 10px 20px;
			border: solid #15A885 1px;
			text-decoration: none;
		}

		.headerContent {
			background-color: #57068c;
			height:60px;
		}

		.headerLogo {
			max-width:80%;
			max-height:80%;
			padding-top:8px;
			margin-left:10%;
			margin-right:20%;
		}

		.announcementContent {
			margin-left:20%;
			margin-right:20%;
			color:#FF0000;
		}

		.centerContent {
            text-align: center;
            margin: 10px auto;
            padding: 10px;
            min-width: 480px;
            max-width: 1470px;
        }

		.shadow {
			-webkit-box-shadow: 0 0 5px rgba(50, 50, 50, 0.50);
			-moz-box-shadow:    0 0 5px rgba(50, 50, 50, 0.50);
			box-shadow:         0 0 5px rgba(50, 50, 50, 0.50);
		}

		.rounded {
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		}
